#join {
  width: 118px;
  height: 78px;
}

.header-container {
  background: url(/assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.5);
}




