<a href="/">
  <img src="https://www.join.me/bower_components/jwf-ui-header-prelogin/build/e0dc4fa7adfd9582fc1175e0acd6a837.svg" id="header-logo">
</a>
<a href="https://www.join.me/login.aspx?clusterid=12&returnurl=https%3A%2F%2Fwww.join.me%2Ffederated%2Floginsso.aspx%3Ffwdto%3D&headerframe=https%3A%2F%2Fwww.join.me%2Ffederated%2Fresources%2Fheaderframe2.aspx&productframe=https%3A%2F%2Fwww.join.me%2Ffederated%2Fresources%2Fdefaultframe.aspx&lang=en-US&skin=joinme&regtype=X&trackingproducttype=1&trackinguniqueid=f54b3c33-24b3-4e37-bc6e-788dfa2df387&oauthautologin=1&_ga=GA1.2.515821181.1540568605">
  <a href="#">
    <h3 id="log-in-link">Log In</h3>
  </a>
</a>
<div id="box-containers">
  <div id="text-container">
    <h1 id="fixedText">JUST JOIN.ME TO</h1>
    <h1 id="rotatingText">PITCH A STORY</h1>
  </div>
  <div class="left-box-text">
    <h1 class="bold">HOST A FREE MEETING</h1>
    <h2>Create a FREE account <br>
      and host a meeting now.</h2>
    <button type="button" class="btn" id="start-button">GET STARTED</button>
  </div>
  <div class="right-box-text">
    <h1 class="bold">JOIN A MEETING</h1>
    <h2>Did someone send you a meeting code?<br>
      Please enter it here to join a meeting.</h2>
    <button type="button" class="btn" id="join-button">JOIN MEETING</button>
  </div>
  <img src="/assets/img/background.jpg" id="header-background">
</div>