<footer>
  Copyright Bongo Industries

  <div class="content">
    <ul>
      <a>
        <a href="#">
          <p><b>About</b></p>
        </a>
      </a>
    </ul>
    <ul>
      <a href="#">
        <p><b>Features</b></p>
      </a>
    </ul>
    <ul>
      <a href="#">
        <p><b>join.me For</b></p>
      </a>
    </ul>
    <ul>
      <a href="#">
        <p><b>Support</b></p>
      </a>
    </ul>
    <ul>
      <a href="#">
        <p><b>Sales</b></p>
      </a>
    </ul>
  </div>
  <div id="social">
    <a href="https://plus.google.com" target="blank"><img src="/assets/img/googleplus.png"></a>
    <a href="https://www.facebook.com" target="blank"><img src="/assets/img/facebook.png"></a>
    <a href="https://www.twitter.com" target="blank"><img src="/assets/img/twitter.png"></a>
    <a href="https://www.instagram.com" target="blank"><img src="/assets/img/instagram.png"></a>
    <a href="https://www.linkedin.com" target="blank"><img src="/assets/img/linkedin.png"></a>
  </div>
</footer>