<hr>
<div class="content">
  <ul>
    <li class="col-sm-2">
      <a>
        <a href="#">
          <p><b>About</b></p>
        </a>
      </a>
    </li>
    <li class="col-sm-2">
      <a href="#">
        <p><b>Features</b></p>
      </a>
    </li>
    <li class="col-sm-2">
      <a href="#">
        <p><b>join.me for</b></p>
      </a>
    </li>
    <li class="col-sm-2">
      <a href="#">
        <p><b>Support</b></p>
      </a>
    </li>
    <li class="col-sm-2">
      <a href="#">
        <p><b>Sales</b></p>
      </a>
    </li>
  </ul>
  <div id="social">
    <a href="https://plus.google.com" target="blank"><img src="/assets/img/googleplus.png"></a>
    <a href="https://www.facebook.com" target="blank"><img src="/assets/img/facebook.png"></a>
    <a href="https://www.twitter.com" target="blank"><img src="/assets/img/twitter.png"></a>
    <a href="https://www.instagram.com" target="blank"><img src="/assets/img/instagram.png"></a>
    <a href="https://www.linkedin.com" target="blank"><img src="/assets/img/linkedin.png"></a>
    <footer>Copyright Bongo Industries</footer>
  </div>
</div>