@import '~bootstrap/dist/css/bootstrap.min.css';

h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #333;
}

p, li  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
}
